
body{
	margin:10px;
	padding:0px;
}

h1{
	text-align:center;
	font-size:175%;
}
*{  font-family:"Comic Sans MS", cursive, sans-serif;
	box-sizing: border-box;
}
section{
	padding:10px;
}

div{
	border:1px solid black;
	background-color: lightgray;


}
span{
	margin-top:0px;
	width:100px;
	border:1px solid black;
	text-align:center;
	float:right;
	font-size:125%;
}

section:nth-child(2) div span
{
	background-color:#ff6699;
}

section:nth-child(3) div span
{
	color:white;
	background-color: #ff5050;
}
section:nth-child(4) div span{
	background-color: #ffcc66;
}
p{
	margin:10px;
	margin-top:30px;
}

@media(min-width:992px)
{	
.c4{
	
	width:33.33%;
	
	float:left;
}
	
}
@media(max-width:767px)

{ 
.c12{
	
	width:100%;
	
}
  
}
@media(min-width:768px) and (max-width:991px)

{

.c6,.c12{
	
	float:left;
	
}
.c6{
	width:50%;
}
.c12{
	width:100%;
}

}
